{% extends 'base.html.twig' %}

{% block title %}Benshop - Ecommerce Website{% endblock %}

{% block content %}

<div class="">
    {% include 'component/index.html.twig' %}
    {% include 'component/products.html.twig' %}
    {% include 'component/advert.html.twig' %}
</div>
{% endblock %}
