{% extends 'base.html.twig' %}

{% block title %}Réinitialiser votre mot de passe{% endblock %}

{% block content %}
    <div class="container">
        <h1>Réinitialiser votre mot de passe</h1>

        {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-primary">Enregistrer</button>
        {{ form_end(resetForm) }}
    </div>
{% endblock %}
