{% extends 'base.html.twig' %}

{% block title %}Nos produits - Benshop{% endblock %}

{% block content %}
    <!-- Products -->
    <section class="section products js-filter">
        <div class="products-layout container">
            <div class="content-form">
                <div>
                    <div class="">
                        <h3>Categories</h3>
                    </div>
                    {% include 'product/_filter.html.twig' %}
                </div>
            </div>

            <div class="col-3-of-4">
                <div class="product-layout js-filter-content">
                    {% include 'product/_single_product.html.twig' %}
                </div>
            </div>
            <!-- PAGINATION -->
            <ul class="pagination js-filter-pagination">
                {{ knp_pagination_render(products) }}
            </ul>
        </div>
    </section>
{% endblock %}
