<!-- ADVERT -->
<section class="section advert">
    <div class="advert-layout container">
        <div class="item ">
            <img src="{{ asset('images/promo7.jpg') }}" alt="">
            <div class="content left">
                <span>Ventes exclusives</span>
                <h3>Spring Collections</h3>
                <a href="{{ path('products') }}">Voir la collection</a>
            </div>
        </div>
        <div class="item">
            <img src="{{ asset('images/promo8.jpg') }}" alt="">
            <div class="content  right">
                <span>Nouvelle tendance</span>
                <h3>Designer Bags</h3>
                <a href="{{ path('products') }}">Acheter maintenant</a>
            </div>
        </div>
    </div>
</section>