<!-- Footer -->
<footer id="footer" class="section footer">
    <div class="container">
        <div class="footer-container">
            <div class="footer-center">
                <h3>EXTRAS</h3>
                <a href="#">Produits</a>
            </div>
            <div class="footer-center">
                <h3>INFORMATION</h3>
                <a href="#">Qui sommes-nous ?</a>
                <a href="#">Politique de confidentialité</a>
                <a href="#">Termes et conditions</a>
                <a href="#">Contactez nous</a>
            </div>
            <div class="footer-center">
                <h3>MON COMPTE</h3>
                <a href="#">Mon compte</a>
                <a href="#">Historique de la commande</a>
            </div>
            <div class="footer-center">
                <h3>CONTACTEZ-NOUS</h3>
                <div>
            <span>
              <i class="fas fa-map-marker-alt"></i>
            </span>
                    42 Dream House, Dreammy street, 7131 Dreamville, USA
                </div>
                <div>
            <span>
              <i class="far fa-envelope"></i>
            </span>
                    company@gmail.com
                </div>
                <div>
            <span>
              <i class="fas fa-phone"></i>
            </span>
                    456-456-4512
                </div>
                <div class="payment-methods">
                    <img src="{{ asset('images/payment.png') }}" alt="">
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->