<!-- Hero --->
<div class="hero">
    <div class="left">
        <span>Ventes exclusives</span>
        <h1>Collections de la boutique</h1>
        <small>Recevez toutes les offres exclusives de la saison</small>
        <a href="">Voir la collection</a>
    </div>
    <div class="right">
        <img src="{{ asset('images/hero.png') }}" alt="" />
    </div>
</div>